body {
  background-color: #999;
}
#root {
  background-color: red;
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
main {

  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  max-width: 80vw;
  margin: 0 auto;
}
#controls {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
#showList-selector {
  padding: 20px;
}
/* #controls {
  background-color: red;

  width: 100%;
}
#controls p {
  background-color: #fff;
  color: #111;
  padding: 10px;
  border-radius: 5px;
}
#controls p:hover {
  background-color: #111;
  color: #fff;
  transform: scale(1.1);
} */

.episode {
  background-color: #fff;
  width: calc(33.33% - 10px);
  border-radius: 5px;
  align-items: center;
}
.episode:hover {
  transform: scale(0.8);

}
.episode h2 {
  padding: 20px;
  border: 2px solid #111;
  border-radius: 5px;
  font-size: 1rem;
  text-align: center;
  display: block;
  margin: 0 auto;
  width: calc(100%-20px);
}
.episode img {
  width: 80%;
  display: block;
  margin: 0 auto;
  padding: 20px;
}
.episode p {
  padding: 0 10px;
}
.episode button {
  display: block;
  padding: 10px;
  cursor: pointer;
  margin: 0 auto;
}
.episode button:hover {
  background-color: #111;
  color: #fff;
}

@media (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
  }
  .episode {
    width: 100%;
    transform: scale(1);
  }
}