body {
  background-color: #999;
}
#root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
/* select-show start  */

#select-show {
  display: flex;
  justify-content: center;
  gap: 20vw;
}
#select-show input,
#select-show select {
  width: 15vw;
}
/* select show end */
main {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 20px;
  max-width: 80vw;
  margin: 0 auto;
}
#controls {
  display: flex;
  /* flex-direction: row; */
  gap: 10px;
}
/* show */
#showList-selector {
  padding: 20px;
}

.episode,
.show-container {
  background-color: #fff;
  width: calc(33.33% - 10px);
  border-radius: 5px;
  align-items: center;
}
.episode:hover,
.show-container:hover {
  transform: scale(0.8);
}
.episode h2,
.show-container h2 {
  padding: 20px;
  border: 2px solid #111;
  border-radius: 5px;
  font-size: 1rem;
  text-align: center;
  display: block;
  margin: 0 auto;
  width: calc(100%-20px);
}
.episode img,
.show-container img {
  width: 80%;
  display: block;
  margin: 0 auto;
  padding: 20px;
}
.episode p,
.show-container p {
  padding: 0 10px;
}
.episode button {
  display: block;
  padding: 10px;
  cursor: pointer;
  margin: 0 auto;
}
.episode button:hover {
  background-color: #111;
  color: #fff;
}

@media (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
  }
  .episode {
    width: 100%;
    transform: scale(1);
  }
}
